<br><br><br>
<p style="text-align:center;">Made by <b>Pratik Singh.</b><br>
<a href="https://kitarp29.github.io/onlineCV/beckham/">Website           </a>
<a href="https://www.linkedin.com/in/pratik-singh-b11a67141/">Linkedin           </a>
<a href="https://github.com/kitarp29">Github</a>
 </p>

</body>
</html>
