<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>
<p class="secret-text">
This site is a way for Strangers to share their secrets among unknown people and let their mind at ease.
<br>I made this site to learn OAuth 2.0 implementation alongside with my own database of users.</p>

<%- include('partials/footer') %>
