h5{
  text-align: right;
}
.centered {
    padding-top: 50px;
    text-align: center;
}

.secret-text {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 2rem;
  color: #000;

}
